* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f4f9;
}
h1 {
    color: #2c3e50;
    margin-bottom: 1rem;
}
header {
    background: #2c3e50; 
    padding: 1rem 0;
}

nav ul {
    display: flex; 
    justify-content: center;
    list-style: none; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 249, 249);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    color: #ff007f; 
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cv-header {
    text-align: center;
    border-bottom: 2px solid #ff007f;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff007f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cv-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px; 
}

.cv-header {
    text-align: center;
    border-bottom: 2px solid #ff007f;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.cv-sidebar ul li {
    margin-bottom: 10px; 
    list-style: none;    
}

.skills li {
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 4px;
    display: block; 
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.cv-item {
    margin-bottom: 25px;
}

.date {
    display: block;
    color: #ff007f;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
}